<div class="bootstrap-wrapper">
    <mat-toolbar>
      <div class="container">
        <div class="navbar-items">
          <div class="nav-item">
            <a mat-button routerLink="/home">Головна</a>
          </div>
          <div *ngIf="authSvc.currentUserValue?.roleName==='Admin'" class="nav-item">
            <a mat-button routerLink="/users">Список користувачів</a>
          </div>
          <div class="nav-item">
            <a mat-button routerLink="/panel/products">Панель керування</a>
          </div>
          <div class="nav-item">
            <a mat-button routerLink="/products">Продукція</a>
          </div>
          <div *ngIf="authSvc.currentUserValue?.roleName==='User'" class="nav-item">
            <a mat-button>Контакти</a>
          </div>
          <div *ngIf="authSvc.currentUserValue?.roleName==='Admin'" class="nav-item">
            <a mat-button routerLink="/add-product">Додати товар</a>
          </div>
          <div class="nav-item">
            <button mat-button>Про нас</button>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </div>